<template>
  <div>
    <h1>hello!</h1>
    <notification-message type="success" header="hello!">
      <h1>Here might be a page title</h1>
    </notification-message>
    <notification-message>
      <p>Here might be a page title</p>
    </notification-message>
    <todo-list></todo-list>
  </div>
</template>

<script>
import NotificationMessage from '@/components/NotificationMessage'
import Todo from '@/components/Todo'

export default {
  name: 'Home',
  data () {
    return {
    }
  },
  components: {
    'notification-message': NotificationMessage,
    'todo-list': Todo
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
