<template>
  <div>
    <div class="clearfix"></div>
    <div class="row" style="margin-top: 30px">
      <div class="col-3">
        <b-list-group>
          <b-list-group-item v-for="(note, key) in notes" :to="{name: 'noteDetail', params: {id: note.id} }" :key="key" active-class="active">
            {{ note.name }}
          </b-list-group-item>
          <b-list-group-item :to="{name: 'noteCreate'}" active-class="active">Create note</b-list-group-item>
        </b-list-group>
      </div>
      <router-view class="col-8"></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Notes',
  data () {
    return {
      notes: [],
      loading: false,
      value: ''
    }
  },
  mounted () {
    this.loadNotes()
  },
  methods: {
    loadNotes () {
      this.loading = true
      this.$http.get('http://localhost:8000/api/notes').then(response => {
        this.notes = response.data['hydra:member']
        console.log(this.notes)
      }, response => {
        console.log(response)
      }).then(_ => {
        this.loading = false
      })
    }
  }
}
</script>
