<template>
    <div class="NoteCreate">
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group id="input-group-2" label="Note Title:" label-for="input-2">
          <b-form-input
            id="input-2"
            v-model="form.name"
            required
            placeholder="Enter title"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-3" label="Category:" label-for="input-3">
          <b-form-select
            id="input-3"
            v-model="form.category"
            :options="categories"
            required
          ></b-form-select>
        </b-form-group>
          <b-form-group id="input-group-4" label="Content:" label-for="input-content">
            <b-form-textarea
            id="input-content"
            v-model="form.content"
            placeholder="Enter something..."
            rows="3"
          ></b-form-textarea>
        </b-form-group>
        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        name: '',
        content: '',
        category: null
      },
      categories: [{ text: 'Select One', value: null }, 'Carrots', 'Beans', 'Tomatoes', 'Corn'],
      show: true
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      this.createNote(this.form)
    },
    onReset (evt) {
      evt.preventDefault()
      this.resetForm()
    },
    resetForm () {
      // Reset our form values
      this.form.name = ''
      this.form.content = ''
      this.form.category = null
      // Trick to reset/clear native browser form validation state
      this.show = false
    },
    createNote (note) {
      this.$http.post('http://localhost:8000/api/notes', note).then(response => {
        this.resetForm()
      }, response => {
      })
    }
  }
}
</script>
