<template>
  <div class="ui message" :class="type" v-if="!hidden">
    <i class="close icon" @click="close"></i>
    <div class="header">
      {{ header }}
    </div>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'NotificationMessage',
  props: {
    type: {
      type: String,
      default: 'info'
    },
    header: {
      type: String,
      default: 'Information'
    }
  },
  data () {
    return {
      hidden: false
    }
  },
  methods: {
    close () {
      this.hidden = true
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
