<template>
  <main>
    <b-jumbotron>
      <div class="text-center" v-if="isLoading">
        <b-spinner label="Loading..."></b-spinner>
      </div>
      <b-form-group>
        <b-form-input v-model="newTodo" type="text" required placeholder="Enter new Todo" @keyup.enter="addTodo()">
        </b-form-input>
        <div class="error" v-if="!$v.newTodo.minLength">Name must have at least {{$v.newTodo.$params.minLength.min}} letters.</div>
      </b-form-group>

      <b-form-checkbox v-model="allDone" @change="setAllDone()" style="margin-top: 15px">
        Mark all as complete
      </b-form-checkbox>
      <div class="main">
        <b-list-group>
          <b-list-group-item v-for="(todo, index) in filteredTodos" :variant="todo.isDone ? 'primary' : ''" :key="index">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" :id="getId('todo', index)"  v-model="todo.isDone"
                     @change="updateTodo(todo), updateAllDone()">
              <label class="custom-control-label" :for="getId('todo', index)">{{ todo.name }}</label>
              <button type="button" class="destroy close" @click="removeTodo(todo)"><span aria-hidden="true">×</span></button></div>
          </b-list-group-item>
        </b-list-group>
      </div>
      <footer class="footer">
        <div class="row">
          <div class="col" style="margin-bottom: 15px">
            <span class="todo-count"><strong>{{ remaining }} taches à faire</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col align-items-center">
            <b-button-group>
              <b-button href="#" variant="outline-primary" :class="{active: filter === 'all'}"
                        @click="setFilter('all')">
                All
              </b-button>
              <b-button href="#" variant="outline-primary" :class="{active: filter === 'todo'}"
                        @click="setFilter('todo')">
                Todo
              </b-button>
              <b-button href="#" variant="outline-primary" :class="{active: filter === 'done'}"
                        @click="setFilter('done')">
                Done
              </b-button>
            </b-button-group>
            <b-button class="clear-completed" @click="removeCompleted" v-show="todos.length > remaining">
              Clear completed
            </b-button>
          </div>
        </div>
      </footer>
    </b-jumbotron>
  </main>
</template>

<script>
import { minLength } from 'vuelidate/lib/validators'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Todo',
  data () {
    return {
      newTodo: '',
      allDone: false
    }
  },
  validations: {
    newTodo: {
      minLength: minLength(4)
    }
  },
  created () {
    this.$store.dispatch('todo/getTodos')
    this.updateAllDone()
  },
  methods: {
    ...mapActions('todo', [
      'getTodos',
      'addTodo',
      'updateTodo',
      'removeCompleted',
      'removeTodo'
    ]),
    addTodo () {
      if (!this.$v.newTodo.$invalid) {
        if (this.$store.dispatch('todo/addTodo', this.newTodo)) {
          this.newTodo = ''
        }
      }
    },
    getId (key, index) {
      return key + '_' + index
    },
    setFilter (filter) {
      this.$store.commit('todo/setFilter', filter)
    },
    setAllDone () {
      this.todos.forEach(todo => {
        todo.isDone = !this.allDone
        this.updateTodo(todo)
      })
    },
    updateAllDone () {
      this.allDone = this.todos.length > 0 && this.remaining === 0
    }
  },
  computed: {
    ...mapGetters('todo', [
      'todos',
      'isLoading',
      'filteredTodos',
      'remaining',
      'todos',
      'filter'
    ])
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .jumbotron {
    margin-top: 50px;
    padding-top: 40px;
    bottom: 50px;
  }

  .main {
    margin: 15px 0;
  }

  .destroy {
    float: right;
  }

  .todo-count {
    margin-bottom: 15px;
  }
</style>
